# Vercel > Project > Settings > Environment Variables (server only)
ADMIN_PASSWORD=
# Added by the Neon integration in Vercel Marketplace
DATABASE_URL=
# Added when connecting a public Vercel Blob store
BLOB_READ_WRITE_TOKEN=
